<div class="min-h-screen flex surface-ground">
   <!-- SIDENAV -->
   <div
      id="app-sidebar-13"
      class="surface-section h-screen hidden lg:block flex-shrink-0 absolute lg:static left-0 top-0 z-1 border-right-1 surface-border select-none"
      style="width: 280px"
   >
      <div class="flex flex-column h-full">
         <div
            class="flex align-items-center justify-content-center px-3 py-5 border-bottom-1 surface-border"
            style="height: 60px"
         >
            <img src="assets/images/gym.jpg" alt="Image" height="60" />
         </div>

         <div class="overflow-y-auto px-5 flex-1">
            <ul class="list-none p-0 m-0">
               <li>
                  <a
                     [class]="sideNavLinkClass()"
                     style="border-radius: 12px"
                     routerLink="/"
                     routerLinkActive="active"
                     [routerLinkActiveOptions]="{ exact: true }"
                  >
                     <i class="pi pi-home mr-2"></i>
                     <span class="font-medium">Home</span>
                  </a>
               </li>
               <li>
                  <a
                     [class]="sideNavLinkClass()"
                     style="border-radius: 12px"
                     routerLink="/clases"
                     routerLinkActive="active"
                  >
                     <i class="pi pi-bookmark mr-2"></i>
                     <span class="font-medium">Clases</span>
                  </a>
               </li>
               <li>
                  <a [class]="sideNavLinkClass()" style="border-radius: 12px">
                     <i class="pi pi-users mr-2"></i>
                     <span class="font-medium">Team</span>
                  </a>
               </li>
               <li>
                  <a [class]="sideNavLinkClass()" style="border-radius: 12px">
                     <i class="pi pi-comments mr-2"></i>
                     <span class="font-medium">Messages</span>
                     <p-badge value="5" class="ml-auto"></p-badge>
                  </a>
               </li>
               <li>
                  <a [class]="sideNavLinkClass()" style="border-radius: 12px">
                     <i class="pi pi-calendar mr-2"></i>
                     <span class="font-medium">Calendar</span>
                  </a>
               </li>
            </ul>

            <p-divider></p-divider>

            <ul class="list-none p-0 m-0">
               <li>
                  <a [class]="sideNavLinkClass()" style="border-radius: 12px">
                     <i class="pi pi-discord mr-2"></i>
                     <span class="font-medium">Discord</span>
                  </a>
               </li>
               <li>
                  <a [class]="sideNavLinkClass()" style="border-radius: 12px">
                     <i class="pi pi-slack mr-2"></i>
                     <span class="font-medium">Slack</span>
                  </a>
               </li>
               <li>
                  <a [class]="sideNavLinkClass()" style="border-radius: 12px">
                     <i class="pi pi-github mr-2"></i>
                     <span class="font-medium">GitHub</span>
                  </a>
               </li>
            </ul>
         </div>

         <div
            class="border-top-1 surface-border p-3 flex justify-content-center column-gap-5"
         >
            <a [class]="sideNavFooterIconsClass() + ' text-purple-500'">
               <i class="pi pi-chart-pie text-3xl"></i>
            </a>
            <a [class]="sideNavFooterIconsClass() + ' text-orange-500'">
               <i class="pi pi-bolt text-3xl"></i>
            </a>
            <a [class]="sideNavFooterIconsClass()">
               <img src="assets/user.png" style="width: 42px; height: 42px" />
            </a>
         </div>
      </div>
   </div>

   <!-- MAIN SPACE -->
   <div class="min-h-screen flex flex-column flex-auto surface-ground p-5">
      <div class="surface-card flex flex-column flex-auto border-round-xl p-5">
         <!-- BARRA SUPERIOR -->
         <div
            class="flex justify-content-between align-items-center relative lg:static mb-3 column-gap-5"
         >
            <div class="flex align-items-center">
               <button
                  class="p-link cursor-pointer inline-flex align-items-center justify-content-center lg:hidden text-700 mr-3"
                  pStyleClass="#app-sidebar-13"
                  enterClass="hidden"
                  enterActiveClass="fadeinleft"
                  leaveToClass="hidden"
                  leaveActiveClass="fadeoutleft"
                  [hideOnOutsideClick]="true"
               >
                  <i class="pi pi-bars text-4xl"></i>
               </button>
               <div
                  class="font-medium"
                  *ngIf="accountService.currentUser$ | async as user"
               >
                  Welcome back,
                  <span class="font-bold">{{ user.knownAs | titlecase }} </span>
                  👋
               </div>
            </div>
            <div>
               <a
                  class="cursor-pointer block lg:hidden text-700"
                  pStyleClass="@next"
                  enterClass="hidden"
                  enterActiveClass="fadein"
                  leaveToClass="hidden"
                  leaveActiveClass="fadeout"
                  [hideOnOutsideClick]="true"
               >
                  <i class="pi pi-ellipsis-v text-2xl"></i>
               </a>

               <ul
                  class="list-none p-3 lg:p-0 m-0 hidden lg:flex lg:align-items-center select-none lg:flex-row lg:border-round-none border-round-xl surface-overlay border-1 lg:border-none surface-border right-0 top-100 z-1 shadow-2 lg:shadow-none absolute lg:static"
               >
                  <!-- <li>
                     <span class="p-input-icon-left lg:mr-3 mb-3 lg:mb-0">
                        <i class="pi pi-search"></i>
                        <input
                           type="text"
                           pInputText
                           class="border-round-3xl w-8rem sm:w-full"
                           placeholder="Search"
                        />
                     </span>
                  </li> -->

                  <!-- forms -->
                  <form
                     *ngIf="!(accountService.currentUser$ | async)"
                     [formGroup]="loginForm"
                     (ngSubmit)="loginForm.valid && login()"
                     autocomplete="off"
                     class="flex"
                  >
                     <span class="p-input-icon-left lg:mr-3 mb-3 lg:mb-0">
                        <app-text-input
                           [formControl]="$any(loginForm.controls['userName'])"
                           [label]="'User Name'"
                        ></app-text-input>
                     </span>

                     <span class="p-input-icon-left lg:mr-3 mb-3 lg:mb-0">
                        <app-text-input
                           [formControl]="$any(loginForm.controls['password'])"
                           [label]="'Password'"
                        ></app-text-input>
                     </span>

                     <button
                        class="border-round-3xl white-space-nowrap w-full lg:w-auto"
                        iconPos="right"
                        pButton
                        icon="pi pi-sign-in"
                        label="Ingresar"
                     ></button>
                  </form>

                  <!-- FOTO -->
                  <li
                     *ngIf="accountService.currentUser$ | async as user"
                     class="hidden lg:block"
                  >
                     <a [class]="avatarClass()" (click)="menu.toggle($event)">
                        <p-avatar
                           image="{{
                              user.photoUrl || '../../assets/user.png'
                           }}"
                           shape="circle"
                           size="large"
                           class="mr-0"
                        ></p-avatar>

                        <!-- <span>{{ user.knownAs | titlecase }}</span> -->
                        <i class="pi pi-angle-down ml-auto lg:ml-3"></i>
                     </a>
                  </li>

                  <!-- dropdown -->
                  <p-menu
                     #menu
                     [popup]="true"
                     [model]="items"
                     class=""
                  ></p-menu>
                  <!-- menu en pantalla chica -->
                  <ng-container *ngIf="accountService.currentUser$ | async">
                     <li class="block lg:hidden">
                        <a
                           [class]="avatarClass()"
                           routerLink="/members/edit"
                           routerLinkActive="active"
                        >
                           <i class="pi pi-cog mr-2"></i>
                           <span class="font-medium">Editar Perfil</span>
                        </a>
                     </li>

                     <li (click)="logout()" class="block lg:hidden">
                        <a [class]="avatarClass()">
                           <i class="pi pi-sign-out mr-2"></i>
                           <span class="font-medium">Salir</span>
                        </a>
                     </li>
                  </ng-container>
               </ul>
            </div>
         </div>

         <!-- CONTENIDO -->
         <div
            class="border-2 border-dashed surface-border surface-50 flex-auto border-round-xl"
         >
            <ng-content></ng-content>
         </div>
      </div>
   </div>
</div>
