<div>
   <div class="grid">
      <div class="col-12 md:col-6 xl:col-4 p-3" *ngFor="let class of classes">
         <div class="surface-card shadow-2 border-round p-4">
            <h3 class="text-xl text-900 font-medium mb-3">
               {{ class.className }}
            </h3>

            <div class="flex surface-border pb-4">
               <img
                  src="assets/user.png"
                  style="width: 70px; height: 70px"
                  class="mr-3"
               />
               <div class="flex flex-column align-items-start">
                  <span class="text-600 font-medium mb-2">Nombre Profe</span>
                  <span
                     class="bg-blue-50 text-blue-400 border-round inline-flex py-1 px-2 text-sm"
                     >Profesor</span
                  >
               </div>
            </div>

            <div
               class="col-12"
               *ngFor="let dayInfo of class.classInfo; index as i"
            >
               <div class="px-3 py-1 border-round">
                  <div
                     class="flex justify-content-between align-items-center mb-1"
                  >
                     <div>
                        <div class="text-900 font-medium text-base">
                           {{ getDayName(dayInfo.dayName) }}
                        </div>
                     </div>
                     <div
                        class="flex align-items-center justify-content-center bg-blue-100 border-round"
                        style="width: 2.5rem; height: 2.5rem"
                     >
                        <i
                           class="pi pi-calendar-plus text-blue-500 text-base"
                        ></i>
                     </div>
                  </div>

                  <div
                     class="flex justify-content-between align-items-center mb-1"
                  >
                     <div>
                        <div class="text-900 font-medium text-base">
                           {{ dayInfo.hourName }} : 00
                        </div>
                     </div>
                     <div
                        class="flex align-items-center justify-content-center bg-orange-100 border-round"
                        style="width: 2.5rem; height: 2.5rem"
                     >
                        <i class="pi pi-clock text-orange-500 text-base"></i>
                     </div>
                  </div>

                  <div class="flex justify-content-between align-items-center">
                     <div>
                        <div class="text-900 font-medium text-base">
                           {{ dayInfo.sectorName }}
                        </div>
                     </div>
                     <div
                        class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                        style="width: 2.5rem; height: 2.5rem"
                     >
                        <i class="pi pi-map-marker text-cyan-500 text-base"></i>
                     </div>
                  </div>
               </div>
               <p-divider *ngIf="i !== class.classInfo.length - 1"></p-divider>
            </div>
         </div>
      </div>

      <div class="col-12 md:col-6 xl:col-4 p-3" *ngFor="let class of classes">
         <div class="surface-card shadow-2 border-round p-4">
            <h3 class="text-xl text-900 font-medium mb-3">
               {{ class.className }}
            </h3>

            <div class="flex surface-border pb-4">
               <img
                  src="assets/user.png"
                  style="width: 70px; height: 70px"
                  class="mr-3"
               />
               <div class="flex flex-column align-items-start">
                  <span class="text-600 font-medium mb-2">Nombre Profe</span>
                  <span
                     class="bg-blue-50 text-blue-400 border-round inline-flex py-1 px-2 text-sm"
                     >Profesor</span
                  >
               </div>
            </div>

            <div
               class="col-12"
               *ngFor="let dayInfo of class.classInfo; index as i"
            >
               <div class="px-3 py-1 border-round">
                  <div
                     class="flex justify-content-between align-items-center mb-1"
                  >
                     <div>
                        <div class="text-900 font-medium text-base">
                           {{ getDayName(dayInfo.dayName) }}
                        </div>
                     </div>
                     <div
                        class="flex align-items-center justify-content-center bg-blue-100 border-round"
                        style="width: 2.5rem; height: 2.5rem"
                     >
                        <i
                           class="pi pi-calendar-plus text-blue-500 text-base"
                        ></i>
                     </div>
                  </div>

                  <div
                     class="flex justify-content-between align-items-center mb-1"
                  >
                     <div>
                        <div class="text-900 font-medium text-base">
                           {{ dayInfo.hourName }} : 00
                        </div>
                     </div>
                     <div
                        class="flex align-items-center justify-content-center bg-orange-100 border-round"
                        style="width: 2.5rem; height: 2.5rem"
                     >
                        <i class="pi pi-clock text-orange-500 text-base"></i>
                     </div>
                  </div>

                  <div class="flex justify-content-between align-items-center">
                     <div>
                        <div class="text-900 font-medium text-base">
                           {{ dayInfo.sectorName }}
                        </div>
                     </div>
                     <div
                        class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                        style="width: 2.5rem; height: 2.5rem"
                     >
                        <i class="pi pi-map-marker text-cyan-500 text-base"></i>
                     </div>
                  </div>
               </div>
               <p-divider *ngIf="i !== class.classInfo.length - 1"></p-divider>
            </div>
         </div>
      </div>
   </div>
</div>
